.manager-view {
    color: white;
    padding: 20px;
  }
  
  .card {
    background-color: #1a252f;
    border-radius: 12px;
    border: 1px solid #184169;
    overflow: hidden; /* Ensures the content stays within the rounded corners */
  }
  
  .card-header {
    background-color: #34495e;
    color: white;
  }

  .card-body {
    background-color: #294258;
    position: relative;

  }


  h2 {
    color: white;
  }
  
  .search-input::placeholder {
    color: #999; /* Replace with your desired color */
  }
  
  .search-input {
    color: white; /* Ensures the input text is white */
    background-color: #1a252f; /* Matches the dark theme */
    border: 1px solid #34495e;
  }
  
  
  .manager-view-table {
     width: 100%;
  background-color: #1a252f;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px; /* Add space below the table */
}
  
  .manager-view-table th {
    background-color: #34495e;
    color: white;
    text-align: center;
    border: 1px solid #2c3e50;
  }
  
  .manager-view-table td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #2c3e50;
    background-color: #1a252f; /* Dark background */
    color: white;
  }
  
  .small-team-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .badge {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px; /* Add spacing between badges */
  }
  
  .bg-danger {
    background-color: #e74c3c !important;
  }
  
  .bg-primary {
    background-color: #3498db !important;
  }
  
  .bg-success {
    background-color: #2ecc71 !important;
  }
  
  .btn-primary {
    background-color: #1abc9c;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #16a085;
  }
  
  .btn-success {
    background-color: #27ae60;
    border: none;
  }
  
  .btn-success:hover {
    background-color: #1e8449;
  }
  
  .search-input {
    background-color: #1a252f;
    color: white;
    border: 1px solid #34495e;
  }
  
  .search-input:focus {
    box-shadow: none;
    border-color: #5a80a7;
  }
  