<ng-container *ngIf="!(auth.isLoading$ | async)">
  <div *ngIf="auth.user$ | async as user" class="user-profile-container" (click)="toggleDropdown()">
    <div class="profile-picture-wrapper">
      <img [src]="user.picture" alt="Profile Picture" class="profile-picture" />
      <div class="dropdown-indicator">
        <i class="fas fa-chevron-down"></i>
      </div>
    </div>
    <div class="user-info">
      {{ user.name }}
    </div>
    <div class="dropdown-menu" [class.show]="isDropdownOpen">
      <button [routerLink]="['/profile']">View Profile</button>
      <button [routerLink]="['/edit-profile']">Edit Profile</button>
      <button [routerLink]="['/inbox']">Inbox</button>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</ng-container>
