<ng-container *ngIf="!(auth.isLoading$ | async)">
  <div *ngIf="auth.user$ | async as user" class="user-profile" (click)="toggleDropdown()">
    <img [src]="user.picture" alt="Profile Picture" class="profile-picture" />
    <div class="dropdown-menu" [class.show]="isDropdownOpen">
      <button [routerLink]="['/profile']">View Profile</button>
      <button [routerLink]="['/edit-profile']">Edit Profile</button>
      <button [routerLink]="['/inbox']">Inbox</button>
      <button [routerLink]="['/manager-view']">Manager View</button>
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</ng-container>
