<button (click)="signIn()" [disabled]="isLoading">
  {{ isLoading ? 'Signing in...' : 'Sign in (Redirect)' }}
</button>
<br/>
<button (click)="signInWithPopup()" [disabled]="isLoading">
  {{ isLoading ? 'Signing in...' : 'Sign in (Popup)' }}
</button>
<br/>
<button (click)="clearStateAndRetry()" [disabled]="isLoading">
  Clear State & Retry
</button>
<br/>
<button (click)="nuclearReset()" [disabled]="isLoading">
  Nuclear Reset (Clear Everything)
</button>
<br/>
<button (click)="signOut()">Sign out</button>