<div class="schedule-bar-container" *ngIf="upcomingMatches.length > 0">
  <div class="schedule-bar-scroll">
    <a routerLink="/match/{{match.id}}" class="game-card-link" *ngFor="let match of upcomingMatches">
      <div class="game-card">
        <div class="game-date">
          {{ match.date | date: 'MMM d' }}
        </div>
        <div class="clubs">
          <div class="club">
            <img [src]="getImageUrl(match.homeClub?.logoUrl)" alt="{{ match.homeTeam }} logo" class="club-logo">
          </div>
          <span class="score">{{ match.homeScore }}</span>
          <span class="vs-text">VS</span>
          <span class="score">{{ match.awayScore }}</span>
          <div class="club">
            <img [src]="getImageUrl(match.awayClub?.logoUrl)" alt="{{ match.awayTeam }} logo" class="club-logo">
          </div>
        </div>
        <div class="game-status">
          <span *ngIf="isFinal(match); else timeDisplay">
            FINAL
            <span *ngIf="match.isOvertime" class="overtime-indicator">OT</span>
          </span>
          <ng-template #timeDisplay>
            <span>{{ match.date | date: 'h:mm a' }}</span>
          </ng-template>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="schedule-bar-container" *ngIf="upcomingMatches.length === 0">
  <div class="text-center p-3">
    <p class="text-muted">No matches found</p>
  </div>
</div>
