<!-- Manage User Details Section -->
<section class="manage-user-details mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow-sm">
                    <div class="card-header text-center bg-dark text-white">
                        <h3>Manage User Details</h3>
                    </div>
                    <div class="card-body">
                        <!-- User Details Table -->
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">Discord Username</th>
                                    <td><input type="text" class="form-control" placeholder="Enter Discord Username"></td>
                                </tr>
                                <tr>
                                    <th scope="row">Admin</th>
                                    <td>
                                        <select class="form-select">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Stats</th>
                                    <td>
                                        <select class="form-select">
                                            <option value="yes">Yes</option>
                                            <option value="no">No</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Xbox Gamertag</th>
                                    <td><input type="text" class="form-control" placeholder="Enter Xbox Gamertag"></td>
                                </tr>
                                <tr>
                                    <th scope="row">PlayStation Gamertag</th>
                                    <td><input type="text" class="form-control" placeholder="Enter PSN Gamertag"></td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Update User Button -->
                        <div class="text-center">
                            <button class="btn btn-primary">Update User</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>