<!-- Recent Transactions Section -->
<section class="recent-transactions-section mt-4">
    <div class="container">
      <!-- Sorting Tab for Seasons -->
      <div class="season-sort mb-3">
        <select id="season-select" class="form-control d-inline-block w-auto">
          <option value="S18">All Divisions</option>
          <option value="S19">NA S19 CORE</option>
          <option value="S20">NA S19 Rammer</option>
          <option value="S20">EU S7</option>
        </select>
      </div>
  
      <table class="table table-striped table-hover text-center">
        <thead>
          <tr>
            <th>Club</th>
            <th>Transaction</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <a routerLink="/club" class="team-link">
                <img src="images/square-boats.png" alt="Mutts Logo" class="team-logo"> Mutts
              </a>
            </td>
            <td>
              <a routerLink="/profile-view" class="transaction-link">
                Mutts sign Mutt_Anderson for NA S18
              </a>
            </td>
            <td>08/27/2024</td>
          </tr>
          <tr>
            <td class="text-center">
              <a routerLink="/club" class="team-link">
                <img src="images/square-lightsout.png" alt="Lights Out Logo" class="team-logo"> Lights Out
              </a>
            </td>
            <td>
              <a routerLink="/profile-view" class="transaction-link">
                Lights Out release SheLuvvDJ20 for NA S18
              </a>
            </td>
            <td>08/27/2024</td>
          </tr>
          <tr>
            <td class="text-center">
              <a routerLink="/club" class="team-link">
                <img src="images/square-glorifiedcrew.png" alt="Glorified Crew Logo" class="team-logo"> Glorified Crew
              </a>
            </td>
            <td>
              <a routerLink="/profile-view" class="transaction-link">
                Glorified Crew release Saddzy for NA S18
              </a>
            </td>
            <td>08/27/2024</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  