<!-- navigation.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="images/1ithlwords.png" alt="League Logo" class="logo me-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" routerLink="/schedule">Schedule</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/standings">Standings</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/free-agents">Free Agents</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/player-stats">Player Stats</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/goalie-stats">Goalie Stats</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/manager-view">Manager View</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/club">Club</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/edit-profile">Edit Profile</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/profile-view">Profile</a></li>
            </ul>
             
            <!-- Right Aligned Links -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><app-auth-button></app-auth-button></li>
        <li class="nav-item"><app-user-profile></app-user-profile></li>
      </ul>
        </div>
    </div>
</nav>

